<div class="divLogin">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <h1>Login</h1>
    <div class="form-group">
      <input
        id="user"
        type="text"
        pInputText
        formControlName="user"
        name="user"
        placeholder="User"
        class="form-control"
      />
      <app-messages-error [control]="user"></app-messages-error>
    </div>
    <div class="form-group">
      <input
        id="password"
        type="password"
        pPassword
        [feedback]="false"
        formControlName="password"
        name="password"
        placeholder="Password"
        class="form-control"
      />
      <app-messages-error [control]="password"></app-messages-error>
    </div>
    <button pButton type="submit" label="Submit"></button>
  </form>
</div>
