<div class="blockPortfolio">
  <div class="row">
    <div class="col-sm-11">
      <h4>Proyectos</h4>
    </div>
    <div class="col-sm-1">
      <span class="myIcon"><i class="pi pi-plus" (click)="showModal(newProject)"></i></span>
    </div>
  </div>
  <div class="row" *ngFor="let e of projects">
    <div class="col-sm-11">
      <h4 class="text-primary">{{e.titulo}}</h4>
      <span class="font-weight-light">{{e.descripcion}}</span>
    </div>
    <div class="col-sm-1">
      <span class="myIcon"><i class="pi pi-pencil" (click)="showModal(e)"></i></span>
      <span class="myIcon"><i class="pi pi-trash" (click)="delete(e.id)"></i></span>
    </div>
  </div>
</div>