<div class="blockPortfolio">
  <div class="row">
    <div class="col-sm-11">
      <h4>Proyectos</h4>
    </div>
    <div class="col-sm-1">
      <span class="myIcon"><i class="pi pi-plus"></i></span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-11">
      <h4 class="text-primary">e-Farmacia</h4>
      <span class="font-weight-light">Desarrollar una aplicación web full stack, que mostrará: tus datos personales, estudios cursados, experiencia laboral, conocimiento de las tecnologías y lo que desees agregar. Es decir, ¡crear tu propio portfolio web!</span>
    </div>
    <div class="col-sm-1">
      <span class="myIcon"><i class="pi pi-pencil"></i></span>
      <span class="myIcon"><i class="pi pi-trash"></i></span>
    </div>
  </div>
</div>
