#myAvatar {
    position: relative;
    top: -3rem;
    left: 1rem;
}

:host ::ng-deep .p-avatar.p-avatar-xl {
    width: 6rem;
    height: 6rem;
    font-size: 4rem;
}

p {
    margin-bottom: 0px;
}

:host ::ng-deep .p-panel .p-panel-header {
    padding: 0.5rem 0.75rem;
    
}

:host ::ng-deep .p-panel .p-panel-content {
    padding: 0.75rem;
}