<app-modal-item>
  <ng-container title-header>
    <h2>{{ data.id ? "Editar experiencia" : "Crear experiencia" }}</h2>
  </ng-container>
  <ng-container form>
    <form [formGroup]="form">
      <div class="form-group">
        <input
          pInputText
          formControlName="cargo"
          placeholder="Cargo"
          class="form-control"
          id="cargo"
        />
      </div>
      <div class="form-group">
        <input
          pInputText
          formControlName="empresa"
          placeholder="Empresa"
          class="form-control"
          id="empresa"
        />
      </div>
      <div class="form-row">
        <div class="form-group col-6">
          <span class="p-float-label">
            <p-inputMask
              id="fecha_desde"
              mask="99/99/9999"
              formControlName="fecha_desde"
              slotChar="mm/dd/yyyy"
            >
            </p-inputMask>
            <label for="fecha_desde">Fecha desde</label>
          </span>
        </div>
        <div class="form-group col-6">
          <span class="p-float-label">
            <p-inputMask
              id="fecha_hasta"
              mask="99/99/9999"
              formControlName="fecha_hasta"
              slotChar="mm/dd/yyyy"
            >
            </p-inputMask>
            <label for="fecha_desde">Fecha hasta</label>
          </span>
        </div>
      </div>

      <div class="form-group">
        <input
          pInputText
          formControlName="direccion"
          placeholder="Direccion"
          name="direccion"
          class="form-control"
          id="direccion"
        />
      </div>

      <!--<app-messages-error [control]="nombre"></app-messages-error>-->
      <div class="footer-modal">
        <p-button
          (click)="submit()"
          [disabled]="form.invalid"
          [ngClass]="{ 'disable-click': form.invalid }"
          label="Guardar"
          class="button-modal"
        ></p-button>
        <p-button (click)="closeModal()" label="Cancelar" class="button-modal">
        </p-button>
      </div>
    </form>
  </ng-container>
</app-modal-item>
