/* You can add global styles to this file, and also import other style files */

html, body {
    width: 100%;
}

.blockPortfolio {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 2.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: 1px solid #dee2e6;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
}

.myIcon {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    cursor: pointer;
    display: none;
}

.myIcon i { 
    font-size: 1.2rem;
}

/* BEGIN STYLES MODAL */
.p-dialog .p-dialog-header {
    border-bottom: 0px ;
}

.p-dialog .p-dialog-footer {
    border-top: 0px ;
}

:host ::ng-deep .p-dialog .p-button {
    min-width: 4rem;
}

/* END STYLES MODAL */

.disable-click {
    pointer-events: none;
    cursor: default;
  }